body{
    background-color:lightgreen;
    margin:0;
}
#container{
    margin:20px auto auto;
    background-color:white;
    text-align:left;
    width:50%;
    padding:10px;
    border-radius:10px;
}
h1{
    text-align:center;
}
#title{
    width:30%;
}
button{
    margin-left:30px;
    background-color:blue;
    color:white;
    width:80px;
    border:none;
    padding:5px;
    border-radius:10px;
}

h2{
    text-align:center;
}

ul{
    text-align:left;
}
li{
    display:flex;
    justify-content: space-between;
    background-color:greenyellow;
    list-style:none;
    border-radius:10px;
    width:80%;
    margin-bottom:1%;
    padding:1%;
}

li button{
    align-items: center;
    background-color:green;
    color:white;
    width:10%;
}

#count{
    text-align:right;
}
#footer{
    width:100%;
    position:fixed;
    bottom:0;
    background-color:white;
    text-align:center;
}
